API_DOMAIN=databloxhive.l4tura.de
DASHBOARD_DOMAIN=bloxhivedashboard.l4tura.de
DB_PASSWORD=change_me_db_password
JWT_SECRET=change_me_to_a_random_string_at_least_32_chars_long
ADMIN_PASSWORD=change_me_admin_password
